/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-feb-11, 17:14:19
    Author     : Felix
*/
.button{
    -fx-cursor: hand;
}
.radioButton{
    -fx-background-image: url("../img/Icons/CheckButton.png");
    -fx-cursor: hand;
}
.radioButton:hover{
    -fx-background-image: url("../img/Icons/CheckButtonHover.png");
}
#radioButtonChecked{
    -fx-background-image: url("../img/Icons/CheckButtonCheck.png");
}
.helpTooltip{
    -fx-background-image: url("../img/Icons/Tooltip.png");
}
.helpTooltip:hover{
    -fx-background-image: url("../img/Icons/TooltipHover.png");
}
.helpTooltip > .tooltip{
    -fx-font-size: 10em;
}
.formButton{
    -fx-background-insets: 0px;
    -fx-background-color: #cfdee9;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-family: "Arial";
    -fx-font-size: 1.5em;
    -fx-text-fill: #00171F;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.formButton:hover{
    -fx-background-color: #00171F;
    -fx-border-color: #cfdee9;
    -fx-border-width: 2px;  
    
    -fx-text-fill: #cfdee9;
}
.historyBtn{
    -fx-background-color: #00171f;
    -fx-font-family: "Arial";
    -fx-font-size: 2em;
    -fx-text-fill: #cfdee9;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-color: #00171F;
    -fx-padding: 3px;
    -fx-curor: hand;
}
.historyBtn:hover{
    -fx-background-color: #cfdee9;
    -fx-border-color: #00171F;
    -fx-text-fill: #00171F;
    
}

.btnLogout{
    -fx-background-insets: 0px;
    -fx-background-color: #91bfe0;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-family: "Arial";
    -fx-font-size: 1.5em;
    -fx-text-fill: #00171F;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btnLogout:hover{
    -fx-background-color: #00171F;
    -fx-border-color: #cfdee9;
    -fx-border-width: 2px;  
    
    -fx-text-fill: #cfdee9;
}