/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017-feb-14, 17:46:01
    Author     : Felix
*/

.btnCart{
    -fx-background-insets: 0px;
    -fx-background-color: #00171F;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-family: "Arial";
    -fx-font-size: 1.5em;
    -fx-text-fill: #cfdee9;
    -fx-font-weight: bold;
}
.btnCart:hover{
    -fx-background-color: #00171f;
    -fx-border-color: #cfdee9;
    -fx-border-width: 2px;  
    
    -fx-text-fill: #cfdee9;
}
.btnCart:focused{
    -fx-background-color: #00171f;
    -fx-border-color: #cfdee9;
    -fx-border-width: 2px;  
    
    -fx-text-fill: #cfdee9;
}
.btnCart:pressed{
    -fx-border-width: 1px;
}

.txt{
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #cfdee9; 
    -fx-font-size: 1.5em;
     
}

.background{
    -fx-background-color: transparent;
    -fx-border-width: 0px 1px 0 1px;
    -fx-background-color: linear-gradient(from 0px 0px to 300px 500px, #91bfe0, #00a8e8, #91bfe0 );
}
.background *.list-cell{
    -fx-background-color: transparent;
}
.backgroundBorder{
    -fx-background-color: linear-gradient(to bottom, #003459, #00a8e8);
    -fx-border-color: #00a8e8;
    -fx-border-width: 0 0 1px 0;
    -fx-border-insets: 0px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-background-insets: 0px;
}

#header{
    -fx-font-size: 4em;
    -fx-text-fill: #cfdee9;
    -fx-background-color: linear-gradient(to top, #003459, #00a8e8);
    -fx-border-color: #00a8e8;
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-insets: 0px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-background-insets: 0px;
}

.frame{
    -fx-background-color: #00171F;
    -fx-border-color: #00171F;
    -fx-border-width: 1px;
}

.borderFrame{
    -fx-border-insets: 0px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-background-insets: 0px;
}