/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017-feb-11, 17:14:19
    Author     : Felix
*/

.startpageFrame{
    -fx-background-color: #003459;
    -fx-border-color: #003459;

    -fx-border-width: 3px;
}
.startpageFrame:hover{
    -fx-background-color: #cfdee9;
    -fx-border-color: #00171F;
}
.startpageImage{
    -fx-background-image: url("../img/Icons/Cart.png");
}
.startpageLabel{
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-font-size: 3em;
    -fx-font-weight: bold;
    -fx-text-fill: #91bfe0;
}
#imgHover{
    
    -fx-background-color: black;
}
#txtHover{
    -fx-text-fill: #00171F;
}

#startpageMessage{
    -fx-font-family: "Arial";
    -fx-text-fill: #003459;
    -fx-font-style: italic;
    -fx-font-size: 5em;
}
