/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017-feb-11, 17:14:19
    Author     : Felix
*/

#GridFrame{
    -fx-border-width: 2px;
    -fx-border-color: #666666;
    -fx-background-color: red;

}
#ActionText{
    -fx-font: bold 28px "Franklin Gothic Medium" ;

}
#ImageBox{
    -fx-background-color: blue;
    -fx-border-width: 3px;
    -fx-border-color: green;
    -fx-border-style: solid;
}


.startpageFrame{
    -fx-background-color: #003459;
    -fx-border-color: #00a8e8;

    -fx-border-width: 3px;
}
.startpageFrame:hover{
    -fx-background-color: #cfdee9;
    -fx-border-color: #00171F;
}
.startpageLabel{
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #00a8e8;
}
.startpageLabel:hover{
    -fx-text-fill: #00171F;
}
