/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-feb-27, 19:00:33
    Author     : Felix
*/

.list-cell:empty{
    visibility: hidden;
}
.list-cell{
    -fx-background-color: transparent;
}