/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017-feb-19, 19:55:17
    Author     : Felix
*/

.background{
    -fx-background-color: #91bfe0;
}
.backgroundCenter{
    -fx-background-color: #cfdee9;
    -fx-border-width: 1px 0;
    -fx-border-color: #003459;
}
#topBorder{
    -fx-effect: dropshadow(two-pass-box, #00171fA0, 20, 0.05, 0, 1);
}

#bottomBar{
    -fx-effect: dropshadow(two-pass-box, #00171fA0, 20, 0.05, 0, -1);
}

.mainPane{
    -fx-background-color: #cfdee9;
}

.listPane{
    -fx-background-color: #00171F;
    -fx-border-color: #cfdee9;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, #00171fA0, 20, 0.1, 3, 0);
}

.listHeader{
    -fx-font-size: 1.5em;
    -fx-font-family: "Arial";
    -fx-text-fill: #cfdee9;
    -fx-padding: 10px 0px 10px 0px;
}

.listBox{
    -fx-border-color: #cfdee9;
    -fx-border-width: 1px 0px 0px 0px;
    -fx-background-color: transparent;
}
.listBox > .label{
    -fx-text-fill: #cfdee9;
    -fx-font-family: "Arial";
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #91bfe0;
}
.listBox > .label:hover{
    -fx-cursor: hand;
    -fx-text-fill: #91bfe0;
}

.listBox *.list-cell{
    -fx-background-color: transparent;

}

.listBox *.list-cell:hover{
    -fx-border-color: #cfdee9;

}
.sideList{
    -fx-border-color: #cfdee9;
    -fx-border-width: 1px 0px 0px 0px;
    -fx-background-color: transparent;

}
.sideList *.list-cell
{
    -fx-text-fill: #cfdee9;
    -fx-font-family: "Arial";
    -fx-border-width: 1px;
}
#receiptBox{
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #00171F;
}
#receiptBox *.list-cell{
    -fx-border-color: transparent;
}
.scrollPane{
    -fx-background-color: #cfdee9;
}

.scrollPane > .viewport{
    -fx-background-color: transparent;
}

.formFrame{
    -fx-border-color: #91bfe0;
    -fx-border-width: 1px;
    -fx-background-color: #00171F;
}

#productNodeFrame{
    -fx-border-width: 1px 0 0 0 ;
    -fx-border-color: #00171F;
}

.border-pane > *{
    -fx-box-border: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-margin: 0;
    
}