/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017-feb-19, 19:55:17
    Author     : Felix
*/

.background{
    -fx-background-color: #00171F;
}
.backgroundCenter{
    -fx-background-color: #cfdee9;
}
#topBorder{
    -fx-effect: dropshadow(two-pass-box, #00171fA0, 20, 0.05, 0, 1);
}

#bottomBar{
    -fx-effect: dropshadow(two-pass-box, #00171fA0, 20, 0.05, 0, -1);
}
