/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-feb-14, 18:07:04
    Author     : Felix
*/
.formPanel{
    -fx-background-color: #cfdee9;
}
.txtLabel{
    -fx-text-fill: #003459;
}
.labelHeader{
    -fx-font-size: 4em;
    -fx-text-fill: #003459;
    -fx-font-family: "Arial"
}

.btnForms{
    -fx-background-insets: 0px;
    -fx-background-color: #00171F;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-family: "Arial";
    -fx-font-size: 1.5em;
    -fx-text-fill: #cfdee9;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btnForms:hover{
    -fx-background-color: #cfdee9;
    -fx-border-color: #003459;
    -fx-border-width: 2px;  
    
    -fx-text-fill: #003459;
}
.btnForms:focused{
    -fx-background-color: #cfdee9;
    -fx-border-color: #003459;
    -fx-border-width: 2px;  
    
    -fx-text-fill: #003459;
}

.btnClose{
    -fx-background-color: none;
    -fx-background-radius: 5px;
    -fx-background-radius: 20px;
    
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-font-size: 1em;
    -fx-text-fill: #91bfe0;
    
}

.btnClose:hover{
    -fx-background-color: none;
    
    -fx-text-fill: #00a8e8;
    -fx-text-alignment: center;
}