/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017-feb-14, 17:46:01
    Author     : Felix
*/

.navButton{
    -fx-background-color: #00171F;
    -fx-border-color: #cfdee9;
    -fx-border-width: 2px 1px 2px 1px;

    -fx-font-family: "Arial";
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: #cfdee9;
}

.navButton:hover{
    -fx-background-color: #00171f;
    -fx-border-color: #00a8e8;
    -fx-border-width: 3px;
    -fx-text-fill: #cfdee9;
}

#navLast{
    -fx-border-width: 2px 2px 2px 1px;
}
#navLast:hover{
    -fx-background-color: #00171f;
    -fx-border-width: 3px;
    -fx-text-fill: #cfdee9;
}
#navFirst{
    -fx-border-width: 2px 1px 2px 2px;
    -fx-padding: 0 0 0 1px;
}
#navFirst:hover{
    -fx-background-color: #00171f;
    -fx-border-width: 3px;
}


.navDivider{
    -fx-background-color: #fff;
}

#cartIcon{
    -fx-background-image: url("../img/Icons/Cart.png");
}
#navCart{
    -fx-border-width: 2px;
  
}
#navCartActive{
    -fx-background-color: #00a8e8;
    -fx-border-width: 2px;
    -fx-border-color: #00171f;
    
}
#navCartActive:hover{
    -fx-border-color: #cfdee9;
}

.navDirection{
    -fx-background-color: #00a8e8;
    -fx-border-color: #00171F;
    -fx-border-width: 2px;

    -fx-text-fill: #00171f;
}

.navBorder{
    -fx-background-color: #00171F;
    -fx-border-color: #00a8e8;
}

.directionButton{
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-background-color: #00a8e8;

    -fx-border-width: 3px;
    -fx-border-color: #00171f;

    -fx-text-fill: #00171f;
}

.directionButton:hover{
    -fx-background-color: transparent;
    -fx-border-width: 3px;
    -fx-border-color: #00a8e8;

    -fx-text-fill: #00a8e8;
}
#navActive{
    -fx-background-color: #00171f;
    -fx-border-color: #00a8e8;
    -fx-border-width: 3px;
    -fx-text-fill: #00a8e8;
}
