/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-feb-14, 18:07:04
    Author     : Felix
*/
.spinnerBtn{
    -fx-background-color: #2869d3;
    -fx-border-width: 0.7px;
    -fx-border-color: white;
    
}
.spinnerBtn:pressed{
    -fx-background-color: #1454bc;
}

#incRegion{
    -fx-background-image: url("../img/Icons/Plus.png");
}
#decRegion{
    -fx-background-image: url("../img/Icons/Minus.png");
}
#decRegion:disabled{
    -fx-background-color: #84b3ff;
}
#addRegion{
    -fx-background-image: url("../img/Icons/AddToCart.png")
}
#addedRegion{
    -fx-background-image: url("../img/Icons/AddedToCart.png");
}
#txtSpinner{
    -fx-background-color: #f2f2f2;
    -fx-border-color: #bcbcbc;
    -fx-border-radius: 3px;
    -fx-background-radius: 5px;
    
    -fx-effect: dropshadow(one-pass-box, #a3a3a3, 2, 15, 0, 0);
    
    -fx-font-family: "Verdana";
    -fx-font-fill: #5b5b5b;
    -fx-font-size: 18px;
}

