/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-feb-14, 18:07:04
    Author     : Felix
*/
.spinnerBtn{
    -fx-background-color: #00a8e8;
    -fx-border-width: 0.7px;
    -fx-border-color: #003459;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    
}
.spinnerBtn:pressed{
    -fx-background-color: #003459;
    -fx-border-color: #00a8e8;
}

#incRegion{
    -fx-background-image: url("../img/Icons/Plus.png");
}
#decRegion{
    -fx-background-image: url("../img/Icons/Minus.png");
}
#decRegion:disabled{
    -fx-background-color: #007ea7;
}
#addRegion{
    -fx-background-image: url("../img/Icons/AddToCart.png")
}
#addedRegion{
    -fx-background-image: url("../img/Icons/AddedToCart.png");
}
#txtSpinner{
    -fx-background-color: #cfdee9;
    -fx-border-color: #003459;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    
    -fx-effect: dropshadow(one-pass-box, #a3a3a3, 2, 15, 0, 0);
    
    -fx-font-family: "Arial";
    -fx-font-fill: #003459;
    -fx-font-size: 1.5em;
}

.cartItem{
    -fx-background-color: transparent;
    -fx-border-color: #003459;
    -fx-border-width: 1px 0 1px 0;
}

.cartItemLabel{
    -fx-font-family: "Arial";
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-text-fill: #00171f;
}

.labelDelete{
    -fx-background-image: url("../img/Icons/Bin.png");
}
.labelDelete:hover{
    -fx-background-image: url("../img/Icons/BinHover.png");
}