/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-feb-14, 18:07:04
    Author     : Felix
*/
.spinnerBtn{
    -fx-background-color: green;
    -fx-border-width: 0.5px;
    -fx-border-color: white;
    
}