/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-feb-14, 17:46:01
    Author     : Felix
*/

.txtForm{
    -fx-background-color: #cfdee9;
    -fx-border-color: #003459;
    -fx-border-width: 1px;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #5b5b5b;
    -fx-text-fill: #003459;
}

.txtForm:focused{
    -fx-background-color: #cfdee9;
}