/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017-feb-14, 17:46:01
    Author     : Felix
*/

.txtForm{
    -fx-background-color: #cfdee9;
    -fx-border-color: #003459;
    -fx-border-width: 1px;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #5b5b5b;
    -fx-text-fill: #003459;
    -fx-font-family: "Arial";
    -fx-font-size: 1.2em;
}

.txtForm:focused{
    -fx-border-color: #91bfe0;
}
.txtFormDetails:disabled{
    -fx-border-color:transparent;
    -fx-background-color: transparent;
    -fx-text-fill: #00171F;
    -fx-prompt-text-fill: #00171F;
    -fx-opacity: 1.0;
}
.labelError{
    -fx-text-fill: #ff0000;
    -fx-font-family: "Arial";
}

#txtFormCheckout{
    -fx-prompt-text-fill: #a3a3a3;
}
#txtError{
    -fx-border-color: #ff0000;
}
#txtFormCheckout:focused{
    -fx-border-color: #cfdee9;
}
.searchButton{
    -fx-background-color: #003459;
    -fx-background-insets: 0px;
    -fx-background-image: url("../img/Icons/MagGlass.png");
    -fx-background-radius: 0px;
    -fx-border-color: #91bfe0;
    -fx-border-radius: 0px;
    -fx-border-width: 1px 1px 1px 0;
    -fx-border-insets: 0px;
}
.searchButton:hover{
    -fx-background-color: #cfdee9;
    -fx-background-image: url("../img/Icons/MagGlassHover.png");
    -fx-border-color: #003459;
    -fx-border-width: 2px;
}

.searchField{
    -fx-background-color: #cfdee9;
    -fx-background-radius: 0px;
    -fx-border-color: #91bfe0;
    -fx-font-size: 2em;
    -fx-font-family: "Arial";
    -fx-text-fill: #003459;
    -fx-prompt-text-fill: #5b5b5b;
}
.txtArea:focused{
    -fx-focus-color: transparent;
}

.txtArea {
    -fx-border-radius: 0px;
    -fx-text-box-border: 0px;
    -fx-control-inner-background: #cfdee9;
    -fx-text-fill: #00171F;
}
.cbForms{
    -fx-box-border: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: #cfdee9;
    -fx-border-color: #00171F;
}
.cbForms:focused{
    -fx-border-color: #00171F;
}
.cbForms > .open-button > .arrow{
    -fx-background-color: #00171F;
}
.cbForms:disabled, .cbForms .label{
    -fx-border-color: transparent;
    -fx-text-fill: #00171F;
    -fx-opacity: 1;
}
.cbForms:disabled > .open-button > .arrow{
    -fx-background-color: transparent;
}
.cbForms .context-menu{
    -fx-background-color: #cfdee9;
    -fx-border-color: #003459;
}
.cBox{
    -fx-text-fill: #00171F;
    -fx-font-family: "Arial";
    -fx-font-size: 1.2em;

}
.cBox > .box{
    -fx-box-border: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-image: url("../img/Icons/CheckBox.png");
}
.cBox:hover > .box{
    -fx-background-image: url("../img/Icons/CheckBoxHover.png");
}

.cBox:selected > .box > .mark{
    -fx-shape: "M11.49,13.2a1,1,0,0,1-.69-.28L7,9.32A1,1,0,1,1,8.43,7.88l3.06,2.94,6.81-6.54a1,1,0,1,1,1.38,1.44l-7.51,7.2A1,1,0,0,1,11.49,13.2Z";
    -fx-background-color: #00a8e8;
}