/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-feb-21, 16:16:17
    Author     : Felix
*/
.btn{
    -fx-background-color: #003459;
    -fx-background-insets: 0px;
    -fx-border-color: #5cc7f0;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 0px;
    -fx-padding: 0px;
    
       
    -fx-focus-color: transparent;
    -fx-text-fill: #5cc7f0;
    -fx-font-family: "Arial";
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}
.btn:hover{
    -fx-background-color: #5cc7f0;
    -fx-border-color: #003459;
    
    -fx-text-fill: #003459;
}
#btnLogin{
    
}

#btnRegister{
    
}

.username{
    -fx-background-color: #003459;
    -fx-border-color: #5cc7f0;
    -fx-border-width: 2px 2px 2px 1px;
    
    -fx-text-fill: #5cc7f0;
    -fx-font-family: "Arial";
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}
.username:hover{
    -fx-background-color: #5cc7f0;
    -fx-border-color: #003459;
    
    -fx-text-fill: #003459;
}

#settingsIcon{
    -fx-background-color: #003459;
    -fx-background-image: url("../img/Icons/CogwheelBlue.png");
    -fx-border-color: #5cc7f0;
    -fx-border-width: 2px 1px 2px 2px;
        
    
}

#settingsIcon:hover{
    -fx-background-image: url("../img/Icons/CogwheelDBlue.png");
    -fx-background-color: #5cc7f0;
    -fx-border-color: #003459
}